<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app>

    <servlet>
      <servlet-name>MonitorStats</servlet-name>
      <servlet-class>com.ais.monitor.web.servlet.GraphStatServlet</servlet-class>
    </servlet>

    <servlet-mapping>
      <servlet-name>MonitorStats</servlet-name>
      <url-pattern>/monitorstats</url-pattern>
    </servlet-mapping>


</web-app>
